.gif-container {
    width: 100%;
    max-width: 400px;
    height: 225px;
    min-height: 225px;
    background-color: $gris-claro;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        box-shadow: $sombra-suave;
        display: block;

        &::before {
            content: '';
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}