.img__sucessos {
    width: 100%;
    max-width: 350px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    @include transicion-hover-gif;
}

.timeline .border-start {
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: start;

    @include mobile {
        min-height: 200px;
    }

    @include tablet {
        min-height: 360px;
    }
}