.roles {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.2rem 0.6rem;
    margin-left: 0.5rem;
    border-radius: 6px;
    text-transform: uppercase;

    &.heroe {
        background-color: #e6f4ea;
        color: #198754;
    }

    &.villano {
        background-color: #ffe3e3;
        color: #dc3545;
    }

    &.opening {
        background-color: #ffe3e3;
        color: #186890;
    }
}