.layout__footer {
    grid-area: footer;
    text-align: center;
    font-size: 1rem;
    color: $gris-medio;
    @include flex-columm-center;

    border-top: 1px solid rgba(255, 255, 255, 0.08);
    padding-top: 1.5rem;

    @include mobile {
        font-size: 0.8rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    @include tablet {
        font-size: 0.9rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    .footer__redes {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 30px;
        margin: 20px 0;
        flex-wrap: wrap;

        @include mobile {
            flex-direction: row;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
        }

        @include tablet {
            flex-direction: row;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
        }

        a {
            display: flex;
            align-items: center;
            gap: 8px;
            text-decoration: none;
            color: $blanco-hielo-shoto;
            @include transicion-suave;

            &:hover {
                transform: scale(1.1);
                color: $amarillo-alerta;
            }
        }

        img {
            width: 22px;
            height: 22px;
        }
    }
}

// -------------------- ICONOS DE REDES SOCIALES --------------------
$redes: (
    facebook: "../assets/icons/facebook.png",
    instagram: "../assets/icons/ig.png",
    twitter: "../assets/icons/twitter.png" 
);

@each $red, $url in $redes {
    .footer__#{$red} {
        background-image: url(#{$url});
        background-repeat: no-repeat;
        background-size: contain;
        width: 24px;
        height: 24px;
    }
}